.logo-color {
  font-weight: 650;
  color: aqua;
}
.add:hover {
  background: #f8f4f4 !important;
  cursor: pointer;
  color: black !important;
}

.text-line-through {
  text-decoration: line-through;
}

body {
  /* background-color: rgb(241, 245, blue); */
  background-color: aliceblue;
}
